@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* styles.css */
  body {
    width: 100%; /* Set the body width to 100% of the viewport */
    height: 100vh; /* Set the body height to 100% of the viewport height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    /* Add other styling properties as needed */
  }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.wave{
  --size: 50px;
  --p: 89px;
  --R: 93.9px; /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
  
  height: 200px;
  
  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), white 99.8%, transparent 100%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(100% + var(--p)), transparent 99.8%,white 100%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
  background: linear-gradient(90deg, green);
  border: none;
  

}
.box{
  --size: 50px;
  --p: 79px;
  --R: 93.9px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
  
  height: 200px;
 
  
  -webkit-mask:
    radial-gradient(var(--R) at left 50% var(--d,top) calc(var(--size) + var(--p)),#000 99%,#0000 101%) 
      calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at left 50% var(--d,top) calc(-1*var(--p)),#0000 99%,#000 101%) 
      left 50% var(--d,top) var(--size)/calc(4*var(--size)) 100% repeat-x;
  background:linear-gradient(90deg,pink);  
  border: none;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-473px * 12)); /* Assuming 10 images and each image is 473px wide */
  }
}
@layer utilities {
  .aspect-ratio-2500-1767 {
    aspect-ratio: 2500 / 1767;
  }
  .curved{
    border-top-left-radius: 450% 200rem;
    border-top-right-radius: 450% 200rem;
   
  }
  .curved1-small{
    border-top-left-radius: 1250% 200rem;
    border-top-right-radius: 1250% 200rem;
   
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

  


